:root {
  --blue: rgb(9, 88, 147);
  --orange: rgb(246, 147, 30);
  --white: rgb(254, 254, 254);
  --light-gray: rgba(129, 129, 129, 0.328);
  --light-gray-placeholder: rgb(129, 129, 129);
  --red: rgb(255, 0, 0);
}

html {
  scroll-behavior: smooth;
  cursor: url(../Assets/cursor/awaqiCursor.cur), auto;
}

@font-face {
  font-family: "TeraR";
  src: url(../amhricFont/Tera-Regular.ttf);
}
#amh {
  font-family: "TeraR";
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(2, 100vh);
  grid-template-columns: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  cursor: url(../Assets/cursor/awaqiCursor.cur), auto;
}
body button:hover, body a, body a:hover {
  cursor: url(../Assets/cursor/awaqiCursor.cur), auto;
}
body .intro {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: var(--blue);
  display: grid;
  align-items: center;
  justify-items: center;
}
body .intro video {
  z-index: 1;
  width: 80%;
}
body .topVid, body .bottomLeft, body .bottomRight {
  position: fixed;
}
body .topVid {
  width: 100%;
  height: 10vh;
  top: 0;
  display: grid;
  align-items: center;
  justify-items: center;
}
body .topVid video {
  height: 50px;
}
body .bottomLeft {
  position: absolute;
  top: 93vh;
  left: 2vw;
}
body .bottomLeft p {
  color: var(--blue);
  margin: 0;
}
body .bottomLeft span {
  color: var(--orange);
}
body .bottomRight {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, 20%);
  grid-row-gap: 5px;
  position: fixed;
  bottom: 5vh;
  right: 1vw;
  justify-items: center;
}
body .bottomRight svg {
  transition: 0.5s;
  fill: var(--orange);
}
body .bottomRight svg:hover {
  transition: 0.5s;
  fill: var(--blue);
}
body .scrollDown {
  display: none;
}
body .home, body .aboutAndContact {
  overflow-x: hidden;
}
body .home {
  height: 100%;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  overflow: hidden;
}
body .home .border {
  position: absolute;
  width: 50vw;
  height: 60vh;
  border-radius: 30vw;
}
body .home .border .parameter {
  width: 100%;
  height: 100%;
  position: relative;
}
body .home .border .parameter .blur {
  width: 25vw;
  height: 25vw;
  background-color: var(--orange);
  border-radius: 50%;
  position: absolute;
  filter: blur(50px);
  opacity: 100%;
  z-index: -1;
  display: block;
  left: 50%;
  top: 50%;
}
body .home .center {
  width: 100%;
  height: 50%;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
}
body .home .center svg {
  height: 60%;
  fill: var(--white);
  filter: drop-shadow(-64.357px -12.2109px 20px var(--light-gray));
}
body .aboutAndContact {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  align-items: end;
  justify-items: center;
}
body .aboutAndContact .main {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-rows: repeat(2, 50%);
}
body .aboutAndContact .main .top {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 85% 15%;
}
body .aboutAndContact .main .top .amhBar {
  position: absolute;
  width: 100vw;
  display: grid;
  justify-items: center;
  z-index: 1;
}
body .aboutAndContact .main .top .amhBar .amh {
  width: 70vw;
  color: var(--blue);
  font-size: 1.1em;
  -webkit-clip-path: circle(0% at 0px 0px);
          clip-path: circle(0% at 0px 0px);
  background-color: var(--light-gray-placeholder);
  z-index: 1;
  font-family: "TeraRegular";
  border-radius: 10px;
  margin: 2vh 0;
  text-align: center;
}
body .aboutAndContact .main .top .amhBar .amh span {
  color: var(--orange);
}
body .aboutAndContact .main .top .awaqi {
  width: 100vw;
  display: grid;
  justify-content: center;
}
body .aboutAndContact .main .top .awaqi p {
  width: 70vw;
  text-align: center;
  margin: 2vh 0;
  color: var(--blue);
  font-weight: 500;
}
body .aboutAndContact .main .top .awaqi span {
  color: var(--orange);
}
body .aboutAndContact .main .top .poweredBy {
  height: 100%;
  width: 100vw;
  display: grid;
  align-items: center;
  grid-template-rows: 100%;
  grid-template-columns: 45% 55%;
}
body .aboutAndContact .main .top .poweredBy img {
  height: 100%;
}
body .aboutAndContact .main .top .poweredBy p {
  display: grid;
  justify-items: end;
  color: var(--blue);
  font-size: 12px;
  font-weight: 500;
}
body .aboutAndContact .main .bottom {
  width: 100%;
  height: 100%;
  display: grid;
  background-color: var(--orange);
  align-items: center;
  justify-items: center;
}
body .aboutAndContact .main .bottom .center {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 100%;
}
body .aboutAndContact .main .bottom .center .info {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}
body .aboutAndContact .main .bottom .center .info p {
  color: var(--white);
  font-weight: 500;
  text-align: center;
}
body .aboutAndContact .main .bottom .center .info span {
  color: var(--blue);
}
body .aboutAndContact .main .bottom .center .form {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}
body .aboutAndContact .main .bottom .center .form .inputs {
  width: 90%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}
body .aboutAndContact .main .bottom .center .form .inputs input {
  width: 100%;
  border: unset;
  background-color: unset;
  border-bottom: 2px solid var(--white);
  border-radius: 2px;
  color: var(--blue);
  font-weight: 500;
  font-style: oblique;
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
body .aboutAndContact .main .bottom .center .form .inputs input::-moz-placeholder {
  color: var(--light-gray-placeholder);
  font-weight: 100;
}
body .aboutAndContact .main .bottom .center .form .inputs input:-ms-input-placeholder {
  color: var(--light-gray-placeholder);
  font-weight: 100;
}
body .aboutAndContact .main .bottom .center .form .inputs input::placeholder {
  color: var(--light-gray-placeholder);
  font-weight: 100;
}
body .aboutAndContact .main .bottom .center .form .inputs input::focus {
  border: unset;
}
body .aboutAndContact .main .bottom .center .form .inputs button {
  border: unset;
  width: 50%;
  border-radius: 50px;
  height: 60%;
  color: var(--white);
  background-color: var(--blue);
  transition: 0.8s;
}
body .aboutAndContact .main .bottom .center .form .inputs .error {
  border-bottom-color: var(--red);
}

@media screen and (min-width: 426px) {
  html ::-webkit-scrollbar {
    width: 10px;
    height: 6px;
  }
  html ::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 5px;
  }
  html ::-webkit-scrollbar-thumb:hover {
    background-color: var(--orange);
  }

  body .intro {
    width: 100vw;
    height: 100vh;
    transition: 1s;
  }
  body .intro video {
    width: 40%;
  }
  body .topVid {
    justify-items: start;
  }
  body .bottomRight {
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 100%;
    grid-column-gap: 5px;
    right: 3vw;
    bottom: 3vh;
  }
  body .home {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90vh 10vh;
    grid-template-areas: "main" "downArrow";
  }
  body .home .center {
    height: 60%;
  }
  body .home .center svg {
    height: 90%;
    width: 400px;
    filter: drop-shadow(-64.357px -12.2109px 20px var(--light-gray));
  }
  body .home .border .parameter .blur {
    transition: 0.1s;
  }
  body .home .downArrow {
    grid-area: downArrow;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
  }
  body .home .downArrow .scrollDown {
    z-index: 1;
    display: block;
    height: 60px;
    width: 60px;
    bottom: 2vh;
    left: 45vw;
  }
  body .home .downArrow .scrollDown .circle {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--blue);
    border-radius: 50px;
  }
  body .home .downArrow .scrollDown .circle svg {
    fill: var(--orange);
    position: absolute;
    width: 20px;
    height: 30px;
  }
  body .home .downArrow .scrollDown .circle .l, body .home .downArrow .scrollDown .circle .down {
    transition: 0.5s;
  }
  body .home .downArrow .scrollDown .circle .l {
    left: 20px;
    top: 27%;
    transform: rotateX(75deg);
  }
  body .home .downArrow .scrollDown .circle .down {
    bottom: 0;
    left: 20px;
    top: 40%;
    transform: rotateX(60deg);
  }
  body .home .downArrow .scrollDown .circle:hover .l {
    transition: 1s;
    top: 2%;
    transform: unset;
  }
  body .home .downArrow .scrollDown .circle:hover .down {
    transition: 1s;
    top: unset;
    transform: unset;
  }
  body .aboutAndContact .main {
    height: 100vh;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
  }
  body .aboutAndContact .main .top {
    grid-template-columns: 100%;
    position: relative;
  }
  body .aboutAndContact .main .top .amhBar {
    position: absolute;
    height: 85%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
  }
  body .aboutAndContact .main .top .amhBar .amh {
    width: 80%;
    color: var(--blue);
    font-size: 1.4rem;
    display: block;
    position: absolute;
    -webkit-clip-path: circle(20% at 0px 0px);
            clip-path: circle(20% at 0px 0px);
    background-color: var(--light-gray-placeholder);
    z-index: 1;
    text-align: left;
    left: 70px;
  }
  body .aboutAndContact .main .top .amhBar .amh span {
    color: var(--orange);
  }
  body .aboutAndContact .main .top .awaqi {
    width: 100%;
    align-items: center;
    justify-items: center;
    position: relative;
  }
  body .aboutAndContact .main .top .awaqi p {
    width: 80%;
    text-align: left;
    font-size: 1.2rem;
    position: absolute;
    left: 70px;
  }
  body .aboutAndContact .main .top .poweredBy {
    width: 100%;
  }
  body .aboutAndContact .main .top .poweredBy p {
    justify-items: center;
    position: relative;
    left: 20%;
    font-size: 20px;
  }
  body .aboutAndContact .main .top .poweredBy img {
    height: 70%;
    position: relative;
    right: 10%;
    z-index: -1;
  }
  body .aboutAndContact .main .bottom .center {
    height: 50%;
  }
  body .aboutAndContact .main .bottom .center .form .inputs button:hover {
    box-shadow: 3px 3px 6px var(--white) inset;
  }
}/*# sourceMappingURL=style.css.map */